 body {
    background: #515A5A    ;
 }

 #bng {
    width: 100%;
 }

 .principal {
    background: #515A5A     ;
    padding:30px;
 }

.titulo-prin{
    padding-left:20px;
}

 .titulo-center {
    text-align: center;
 }

p{
     text-align: center
 }

 #pxar {
    font-size: 20px
 }

em strong {
    color: #F0F8FF;
}

.itens{
   font-style: italic; 
}

.beneficios {
    background: #515A5A    ;
    padding: 20px;
}



ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 25%;
}

ul2 {
    display: inline-block;
    vertical-align:bottom ;
    width: 150%;
    margin-left: 50%;
}

.imagembnf {
    width: 50%;
}